bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.vs/
*.v1
*.v2
*.suo
*.user
*.psess
*.vsp
*.vspx
*.sap
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf
.idea/**/discord.xml
.idea/**/misc.xml
*.cache